<div class="container">
  <div class="row">
    <div id="side-menu"  class="col-sm-3">
    </div><!-- side-menu -->
    <div id="main-content" class="col-sm-9">
      <div class="col-sm-3 single-post-card" id=<%= project_task_path(@project.id, @task.id) %>>
        <div class="text">
          Title: <%= truncate(@task.title, :length => 60) %></h3>
          <p> Content: <%= @task.content %></p>
        </div>
      </div>
    </div>
      <%= link_to "Back", :back, :class => "navbar-brand" %>
      <%= link_to 'Edit', edit_project_task_path(@project.id, @task.id), :class => "navbar-brand" %>
      <%= link_to 'Delete', project_task_path(@project.id, @task.id), :class => "navbar-brand", method: 'delete', data: { confirm: 'Are you sure?', :class => "navbar-brand" } %>
  </div>
</div>

