<% tasks.each do |task| %>
  <div class="col-sm-3 single-post-card" id=<%= project_task_path(@project.id, task.id) %>>
    <div class="card">
      <h4><%= truncate(task.title, :length => 60) %></h4>
      Task of <%= @project.name %>
      <p><%= task.content %></p>
      <%= link_to "View", project_task_path(@project.id, task.id), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
