<% tasks.each do |task| %>
  <div class="col-sm-3 single-post-card" id=<%= task_path(task.id) %>>
    <div class="card">
      <%= truncate(task.title, :length => 60) %>
      <p><%= task.content %></p>
      <%= link_to "View Task", task_path(task.id), class: 'interested' %>
    </div>
  </div>
<% end %>
<div>
  <%= link_to "Back", :back, :class => "navbar-brand" %>
</div>
