<div class="container">
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4">
      <h3 class="text-center">Create new project</h3>
      <%= bootstrap_form_with(model: @project, local: true) do |f| %>
        <%= f.text_field :name, label: "Name", placeholder: "name" %>
        <%= f.text_field :description, placeholder: "description" %>
        <%= f.submit "Save", :class => "btn btn-primary" %>
        <%= link_to "Back", root_path, :class => "btn btn-primary" %>
      <% end %>
     </div>
  </div>
</div>