<div class="container">
  <div class="row">
    <div id="side-menu"  class="col-sm-3">
    </div><!-- side-menu -->
    <div id="main-content" class="col-sm-9">
       <h1>Tasks</h1>
      <%= render "task", tasks: @tasks %>
    </div>
    <div>
      <%= link_to "Add new task", new_project_task_path(@project.id), :class => "navbar-brand" %>
      <%= link_to "Back", root_path, :class => "navbar-brand" %>
      <%= link_to 'Edit Project', edit_project_path(@project.id), :class => "navbar-brand" %>
      <%= link_to 'Delete Project', project_path(@project.id), :class => "navbar-brand", method: 'delete', data: { confirm: 'Are you sure?', :class => "navbar-brand" } %>
    </div>
  </div>
</div>
